// Shared/default parameters
params {

    project_name = 'undefined_project'
    cath_version = 'v4_3_0'
    min_chain_residues = 25
    chunk_size = 5
    heavy_chunk_size = 5        // For chainsaw, merizo
    light_chunk_size = 10       // For quick processes
    max_entries = null          // Added to supress warnings
    uniprot_csv_file = "${baseDir}/../assets/bfvd/test_bfvd.ids"
    pdb_zip_file = "${baseDir}/../assets/bfvd/test_bfvd.zip"
    cleanup = true
    debug = false

    unidoc_dir = "${baseDir}/tools/UniDoc"
    pdb_dir = "./results/pdbs"

    // the following params get overwritten in the container profiles (docker and singularity)
    fetch_uniprot_script = "${baseDir}/docker/script/fetch_uniprot_data.py"
    chainsaw_script = "python3 ${baseDir}/tools/chainsaw/get_predictions.py"
    merizo_script = "python3 ${baseDir}/tools/Merizo/predict.py"
    unidoc_script = "python3 ${baseDir}/tools/UniDoc/Run_UniDoc_from_scratch_structure.py"
    prefilter_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
    getconsensus_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
    postfilter_script = "python3 ${baseDir}/tools/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
    convert_script = "python3 ${baseDir}/tools/convert_merizo_unidoc_files.py"
    combine_script = "python3 ${baseDir}/tools/combine_results.py"
    chop_pdb_script = "python3 ${baseDir}/tools/chop_pdbs.py"
    stride_summary_script = "python3 ${baseDir}/tools/create_stride_summary.py"
    //md5_script = "python3 ${baseDir}/tools/pdb_to_md5.py"
    transform_script = "python3 ${baseDir}/tools/transform_consensus.py"
    globularity_script = "cath-af-cli measure-globularity"
    plddt_script = "python3 ${baseDir}/tools/fetch_avg_plDDT.py"
    combine_final_script = "python3 ${baseDir}/tools/combine_results_final.py"
    run_segmentation_script = "bash ${baseDir}/tools/ted-tools/ted_consensus_1.0/run_segmentation.sh"
    // URLs to download target_db and lookup_file if not already present
    auto_fetch_foldseek_assets = true
    foldseek_assets_dir = "${projectDir}/../foldseek/assets"
    foldseek_db_url     = 'https://github.com/NSEdmunds/domain-annotation-pipeline-assets/releases/download/foldseek-assets-v4.4.0-s95/cath_v4_4_0_s95_foldseekdb.tar.gz'
    foldseek_lookup_url = 'https://github.com/NSEdmunds/domain-annotation-pipeline-assets/releases/download/foldseek-assets-v4.4.0-s95/CathDomainList.S95.v4.4.0'
    foldseek_db_id = foldseek_db_url.md5()
    // foldseek params
    cache_dir="${foldseek_assets_dir}/${foldseek_db_id}"
    outdir = "${projectDir}/foldseek_results"
    parser_script = "${projectDir}/../foldseek/bin/format_fs_output.py"
    foldseek_exec = 'foldseek_arch'
    T_EVALUE_THRESHOLD = 0.476641
    H_COVERAGE_THRESHOLD = 0.459063
    // Manual mode - only used when auto_fetch_foldseek_assets = false and you need to specify custom locations
    target_db = "${projectDir}/../foldseek/assets/${foldseek_db_id}/foldseekdb"
    lookup_file = "${projectDir}/../foldseek/assets/${foldseek_db_id}/CathDomainList.S95.v4.4.0"
}

profiles {
    // benchmark set of 154 TED uniprot ids
    benchmark_test {
        params {
            project_name = 'benchmark_test'
            chunk_size = 20
            light_chunk_size = 20
            heavy_chunk_size = 5
            uniprot_csv_file ="${baseDir}/../assets/uniprot_ids_ted.csv" //uniprot_ids_ted_only2.csv
            pdb_zip_file ="${baseDir}/../assets/ted_benchmark.zip"
        }
    }
    
    // Batch4 - third 100,000 uniprot ids
    batch4 {
        params {
            project_name = 'batch4'
            chunk_size = 1000
            //light_chunk_size = 5000
            //heavy_chunk_size = 50
            uniprot_csv_file ="/SAN/orengolab/bfvd/code_20250807/domain-annotation-pipeline/assets/batch4_ids.csv"
            pdb_zip_file ="/SAN/orengolab/bfvd/code/domain-annotation-pipeline/assets/bfvd.zip"
        }
    }

    // Default profile (no changes)
    standard {
        params {
            project_name = 'standard_run'
            chunk_size = 5
            light_chunk_size = 25
            heavy_chunk_size = 1
            uniprot_csv_file = "${baseDir}/../assets/uniprot_ids.csv"
            pdb_zip_file = "${baseDir}/../assets/bfvd.zip"
        }
    }

    // Debug mode — quick runs with small data
    debug {
        params {
            project_name = 'debug_run'
            debug = true
            chunk_size = 2
            max_entries = 5
        }
    }

    // Profile for the "bfvd" project
    bfvd {
        params {
            project_name = 'bfvd'
            chunk_size = 1000
            uniprot_csv_file = "${baseDir}/../assets/bfvd.uniprot_ids.csv"
            pdb_zip_file = "${baseDir}/../assets/bfvd.zip"
        }
    }

    docker {
        includeConfig "${baseDir}/../conf/container.config"
        includeConfig "${baseDir}/../conf/docker.config"
    }

    singularity {
        includeConfig "${baseDir}/../conf/container.config"
        includeConfig "${baseDir}/../conf/singularity.config"
    }
}
