process {
    withName:cif_to_pdb {
        container = 'domain-annotation-pipeline-pdb-tools'
    }
    withName:run_merizo {
        container = 'domain-annotation-pipeline-merizo'
    }
    withName:run_unidoc {
        container = 'domain-annotation-pipeline-unidoc'
    }
    withName:run_chainsaw {
        container = 'domain-annotation-pipeline-chainsaw'
    }
}
//docker.enabled = true