process {
    withName:cif_to_pdb {
        container = 'domain-annotation-pipeline-pdb-tools'
    }
    withName:run_merizo {
        container = 'domain-annotation-pipeline-merizo'
    }
    withName:run_unidoc {
        container = 'domain-annotation-pipeline-unidoc'
    }
    withName:run_chainsaw {
        container = 'domain-annotation-pipeline-chainsaw'
    }
    withName:combine_results {
        container = 'domain-annotation-pipeline-script'
    }
}

params.unidoc_dir = "/app/UniDoc"
params.chainsaw_script = "python3 /app/chainsaw/get_predictions.py"
params.merizo_script = "python3 /app/Merizo/predict.py"
params.unidoc_script = "python3 /app/UniDoc/Run_UniDoc_from_scratch_structure.py"
params.combine_script = "python3 /app/script/combine_results.py"

docker.enabled = true