params.singularity_image_dir = '/SAN/orengolab/bfvd/singularity_images'
// Set default executor to local
process {
    executor = 'local'
// ========== local PROCESS SETTINGS  ==========    
    withLabel: local_job {
        executor = 'local'
    }
// ========== GPU PROCESS SETTINGS (SGE) ==========
    withLabel: sge_job {
        executor = 'sge'
        beforeScript = "source ${launchDir}/platforms/ucl_cs_cluster/source"
        cpus = 1
        memory = '32 GB'
        time = '4h'
        clusterOptions = '-S /bin/bash -l tmem=31G -l gpu=true -l h_rt=4:00:00'
    }
// ========== PROCESS SPECIFIC SETTINGS ==========

    withName: extract_pdb_from_zip {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }
    withName: extract_pdb_from_tar {
        label = 'sge_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }
    withName: chop_pdb {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }
    withName: run_merizo {
        label = 'sge_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-merizo_latest.sif"
    }
    withName: run_unidoc {
        label = 'sge_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-unidoc_latest.sif"
    }
    withName: run_chainsaw {
        label = 'sge_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-chainsaw_latest.sif"
    }
    withName: collect_results {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: get_uniprot_data {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: collect_results_final {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: convert_files {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: create_md5 {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: summarise_stride {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: transform_consensus {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
    withName: run_get_consensus {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }
    withName: run_filter_consensus {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }
    withName: run_filter_domains {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }
    withName: run_filter_domains_reformatted {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }
    withName: run_stride {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }
    withName: run_AF_domain_id {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }
    withName: run_measure_globularity {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }
    withName: run_plddt {
        label = 'local_job'
        container = "${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
}
// ========== EXECUTOR SETTINGS ==========
executor {
    name = 'local'
    queueSize = 10
}
// ========== SINGULARITY SETTINGS ==========
singularity {
    enabled = true
    autoMounts = true
    mode = "native"
}

params.unidoc_dir = "/app/UniDoc"
params.fetch_uniprot_script = "python3 /app/fetch_uniprot_data.py"
params.chainsaw_script = "python3 /app/chainsaw/get_predictions.py"
params.merizo_script = "python3 /app/Merizo/predict.py"
params.unidoc_script = "python3 /app/UniDoc/Run_UniDoc_from_scratch_structure.py"
params.prefilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
params.getconsensus_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
params.postfilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
params.convert_script = "python3 /app/convert_merizo_unidoc_files.py"
params.combine_script = "python3 /app/combine_results.py"
params.chop_pdb_script = "python3 /app/chop_pdbs.py"
params.pdb_dir = "./results/pdbs"
params.results_dir = './results'
params.stride_summary_script = "python3 /app/create_stride_summary.py"
params.md5_script = "python3 /app/pdb_to_md5.py"
params.transform_script = "python3 /app/transform_consensus.py"
params.globularity_script = "cath-af-cli measure-globularity"
params.plddt_script = "python3 /app/fetch_avg_plDDT.py"
params.combine_final_script = "python3 /app/combine_results_final.py"
