params.singularity_image_dir = '/SAN/orengolab/bfvd/singularity_images'

executor {
    name = 'sge'
}

process {
    withLabel: sge_low {
        scratch = "/home/${USER}/Scratch"
        executor = 'sge'
        beforeScript = "source ${launchDir}/platforms/ucl_cs_cluster/source"
        penv = 'smp'
        clusterOptions = {
            def mem  = task.memory.toMega()
            def time = task.time.toSeconds()
            def cpus = task.cpus
            def opts = "-S /bin/bash"
            opts += " -l tmem=${mem}M"
            opts += " -l h_vmem=${mem}M"
            opts += " -l h_rt=${time}"
            if (cpus > 1) {
                opts += " -pe smp ${cpus}"
            }
            return opts
        }
    }

    withLabel: sge_high {
        scratch = "/home/${USER}/Scratch"
        executor = 'sge'
        beforeScript = "source ${launchDir}/platforms/ucl_cs_cluster/source"
        penv = 'smp'
        clusterOptions = {
            def mem  = task.memory.toMega()
            def time = task.time.toSeconds()
            def cpus = task.cpus
            def opts = "-S /bin/bash"
            opts += " -l tmem=${mem}M"
            opts += " -l h_vmem=${mem}M"
            opts += " -l h_rt=${time}"
            opts += " -l gpu=true"
            if (cpus > 1) {
                opts += " -pe smp ${cpus}"
            }
            return opts
        }
    }

    // ========== JOB-SPECIFIC PROCESS SETTINGS ==========

    withName: extract_pdb_from_zip {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }

    withName: extract_pdb_from_tar {
        label = 'sge_high'
        memory = '16 GB'
        cpus = 4
        time = '2h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }

    withName: chop_pdb {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }

    withName: filter_pdb {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-pdb-tools_latest.sif"
    }

    withName: run_merizo {
        label = 'sge_high'
        memory = '32 GB'
        cpus = 4
        time = '4h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-merizo_latest.sif"
    }

    withName: run_unidoc {
        label = 'sge_high'
        memory = '32 GB'
        cpus = 4
        time = '4h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-unidoc_latest.sif"
    }

    withName: run_chainsaw {
        label = 'sge_high'
        memory = '32 GB'
        cpus = 4
        time = '4h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-chainsaw_latest.sif"
    }

    withName: get_uniprot_data {
        label = 'sge_low'
        memory = '4 GB'
        cpus = 1
        time = '1h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: collect_results_final {
        label = 'sge_low'
        memory = '4 GB'
        cpus = 1
        time = '1h'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: convert_merizo_results {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

        withName: convert_unidoc_results {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: create_md5 {
        label = 'sge_low'
        memory = '1 GB'
        cpus = 1
        time = '15m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: summarise_stride {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: transform_consensus {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }

    withName: run_get_consensus {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }

    withName: run_filter_consensus {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }

    withName: run_filter_domains {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }

    withName: run_filter_domains_reformatted {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-ted-tools_latest.sif"
    }

    withName: run_stride {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }

    withName: run_AF_domain_id {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }

    withName: run_measure_globularity {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-cath-af-cli_latest.sif"
    }

    withName: run_plddt {
        label = 'sge_low'
        memory = '2 GB'
        cpus = 1
        time = '30m'
        container =
"${params.singularity_image_dir}/domain-annotation-pipeline-script_latest.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
}


params.unidoc_dir = "/app/UniDoc"
params.fetch_uniprot_script = "python3 /app/fetch_uniprot_data.py"
params.chainsaw_script = "python3 /app/chainsaw/get_predictions.py"
params.merizo_script = "python3 /app/Merizo/predict.py"
params.unidoc_script = "python3 /app/UniDoc/Run_UniDoc_from_scratch_structure.py"
params.prefilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
params.getconsensus_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
params.postfilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
params.convert_script = "python3 /app/convert_merizo_unidoc_files.py"
params.combine_script = "python3 /app/combine_results.py"
params.chop_pdb_script = "python3 /app/chop_pdbs.py"
params.pdb_dir = "./results/pdbs"
params.results_dir = './results'
params.stride_summary_script = "python3 /app/create_stride_summary.py"
params.md5_script = "python3 /app/pdb_to_md5.py"
params.transform_script = "python3 /app/transform_consensus.py"
params.globularity_script = "cath-af-cli measure-globularity"
params.plddt_script = "python3 /app/fetch_avg_plDDT.py"
params.combine_final_script = "python3 /app/combine_results_final.py"
