docker.enabled = false

params.home_dir = "/Users/ian/Documents/GitHub/domain-annotation-pipeline"

params.unidoc_dir = "${params.home_dir}/tools/UniDoc"

params.chainsaw_dir = "${params.home_dir}/tools/chainsaw"
params.merizo_dir = "${params.home_dir}/tools/Merizo"
params.pdbtools_dir = "${params.home_dir}/tools/pdb-tools"
params.stride_dir = "${params.home_dir}/tools/stride"
params.pdb_fromcif_script = "${params.pdbtools_dir}/venv/bin/python3 ${params.pdbtools_dir}/venv/bin/pdb_fromcif.py"
params.chainsaw_script = "${params.chainsaw_dir}/venv/bin/python3 ${params.chainsaw_dir}/get_predictions.py"
params.merizo_script = "${params.merizo_dir}/venv/bin/python3 ${params.merizo_dir}/predict.py"
params.unidoc_script = "python3 ${params.unidoc_dir}/Run_UniDoc_from_scratch_structure.py"

params.combine_script = "python3 ${params.home_dir}/script/combine_results.py"
