params {
    unidoc_dir = "/app/UniDoc"
    fetch_uniprot_script = "python3 /app/fetch_uniprot_data.py"
    chainsaw_script = "python3 /app/chainsaw/get_predictions.py"
    merizo_script = "python3 /app/Merizo/predict.py"
    unidoc_script = "python3 /app/UniDoc/Run_UniDoc_from_scratch_structure.py"
    prefilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains.py"
    getconsensus_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/get_consensus.py"
    postfilter_script = "python3 /app/ted-tools/ted_consensus_1.0/scripts/filter_domains_consensus.py"
    convert_script = "python3 /app/convert_merizo_unidoc_files.py"
    combine_script = "python3 /app/combine_results.py"
    chop_pdb_script = "python3 /app/chop_pdbs.py"
    stride_summary_script = "python3 /app/create_stride_summary.py"
    md5_script = "python3 /app/pdb_to_md5.py"
    transform_script = "python3 /app/transform_consensus.py"
    globularity_script = "cath-af-cli measure-globularity"
    plddt_script = "python3 /app/fetch_avg_plDDT.py"
    combine_final_script = "python3 /app/combine_results_final.py"
    ted_setup = "bash /app/ted-tools/ted_consensus_1.0/setup.sh"
    // run_segmentation_script = "cd /app/ted-tools/ted_consensus_1.0/ && bash run_segmentation.sh"

    // HACK: the script Run_UniDoc_from_scratch_structure_afdb.py expects:
    //   - to run executable ./stride
    //   - to write to temp file ./pdb_ss
    // this is not possible in a read-only container environment like singularity
    // so we do a shallow copy of the important parts into the working directory
    run_segmentation_script_setup = """
    cp /app/ted-tools/ted_consensus_1.0/run_segmentation.sh .
    ln -s /app/ted-tools/ted_consensus_1.0/ted_consensus .
    cp -a /app/ted-tools/ted_consensus_1.0/scripts ./scripts
    mkdir -p ./programs
    ln -s /app/ted-tools/ted_consensus_1.0/programs/merizo ./programs/merizo
    ln -s /app/ted-tools/ted_consensus_1.0/programs/chainsaw ./programs/chainsaw
    mkdir -p ./programs/unidoc
    cp /app/ted-tools/ted_consensus_1.0/programs/unidoc/Run_UniDoc_from_scratch_structure_afdb.py ./programs/unidoc/
    mkdir -p ./programs/unidoc/bin
    cp /app/ted-tools/ted_consensus_1.0/programs/unidoc/bin/UniDoc_struct ./programs/unidoc/bin/UniDoc_struct
    cp /app/ted-tools/ted_consensus_1.0/programs/unidoc/bin/stride ./programs/unidoc/bin/stride
    . ted_consensus/bin/activate
    """
    run_segmentation_script = "bash run_segmentation.sh"
}
