docker {
    enabled = true
    runOptions = "-v ${launchDir}:/launchDir:ro"
}

process {

    withName: run_domain_quality {
        memory = { 8.GB * task.attempt }
    }
    
    withName: run_ted_chainsaw {
        memory = { params.project_name == 'git_actions_test' ? 14.GB : 16.GB }
        cpus = 2
    }
    
    withName: run_ted_consensus {
        memory = { params.project_name == 'git_actions_test' ? 14.GB : 16.GB }
        cpus = 2
    }
    
    withName: run_ted_merizo_unidoc {
        memory = { params.project_name == 'git_actions_test' ? 14.GB : 16.GB }
        cpus = 2
    }

    withName: 'foldseek_create_db|foldseek_run_foldseek|foldseek_run_convertalis' {
        memory = { params.project_name == 'git_actions_test' ? 14.GB : 16.GB }
    }

        // ===== Contrasted =====
    withName: 'contrasted_run_annotate' {
        //container = 'ghcr.io/uclorengogroup/domain-annotation-pipeline-foldseek:main-latest' // Use GHCR image
        container = 'domain-annotation-pipeline-contrasted'
        memory = 24.GB
        //container = null
    }
}
