docker.enabled = true

process {
    withName: '.*' {
        container = "domain-annotation-pipeline-script"
    }
    withName: 'foldseek.*' {
        container = "domain-annotation-pipeline-foldseek"
    }

    withName: extract_pdb_from_zip {
        container = 'domain-annotation-pipeline-ted-tools'
    }

    withName: collect_results {
        container = 'domain-annotation-pipeline-script'
    }
    withName: run_get_consensus {
        container = 'domain-annotation-pipeline-ted-tools'
    }
    withName: run_stride {
        container = 'domain-annotation-pipeline-cath-af-cli'
    }
    withName: create_md5 {
        container = 'domain-annotation-pipeline-cath-af-cli'
    }
    withName: run_measure_globularity {
        container = 'domain-annotation-pipeline-cath-af-cli'
    }
    withName: run_ted_segmentation {
        container = 'domain-annotation-pipeline-ted-tools'
        memory = '16 GB'
        cpus = 2
    }
}
