// ========== SINGULARITY SETTINGS ==========
singularity {
    enabled      = true
    autoMounts   = true
    envWhitelist = 'CUDA_VISIBLE_DEVICES,SINGULARITYENV_CUDA_VISIBLE_DEVICES'
    // note: will need to override this if scratch_dir is false (cannot use a closure here) 
    runOptions   = "--bind ${launchDir}:/launchDir:ro --bind ${params.scratch_dir}"
}


// ========== PROCESS SETTINGS ==========
process {

    // ---------- DEFAULT CONTAINERS ----------

    withName: 'foldseek_create_db|foldseek_run_convertalis' {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 4.GB : task.attempt == 2 ? 15.GB : 25.GB }
        cpus          = 1
    }

    // ---------- PROCESS-SPECIFIC OVERRIDES ----------
    // ---------- SCRIPT/DEFAULT ------------
    withName: foldseek_run_foldseek {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 15.GB : task.attempt == 2 ? 31.GB : 45.GB }
        cpus          = 2 //must keep cpus to a sensible number to prevent run_foldseek failure
    }

    withName: foldseek_process_results {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 1.GB : task.attempt == 2 ? 2.GB : 8.GB }
    }

    withName: chop_pdb_from_zip {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 2.GB : task.attempt == 2 ? 4.GB : 8.GB }
    }

    withName: collect_results {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 4.GB : task.attempt == 2 ? 8.GB : 12.GB }
    }

    withName: get_uniprot_data {
        maxForks      = 2
        errorStrategy = 'retry'
        maxRetries    = 5
        memory        = { task.attempt == 1 ? 2.GB : task.attempt == 2 ? 4.GB : 8.GB }
    }

    withName: normalise_af_ids {
        executor  = 'local'
        container = null
        scratch   = false
    }

    withName: 'download_bcif_from_afdb' {
        time             = '23h'
        memory           = 7.GB
        maxForks         = 50
        ext.scratchSpace = 20.GB
    }

    withName: 'prepare_pdb_from_af_bcif' {
        time             = '23h'
        memory           = { task.attempt == 1 ? 23.GB : 31.GB }
        ext.scratchSpace = 20.GB
        maxRetries       = 3
    }

    withName: transform_consensus {
        executor      = 'local'
        scratch       = false
    }

    withName: filter_pdb_from_zip {
        executor      = 'local'
        errorStrategy = 'retry'
        maxRetries    = 3
        scratch       = false
    }

    // ---------- TED-TOOLS ------------
    withName: run_ted_segmentation {
        errorStrategy = 'retry'
        maxRetries    = 4
        // 1st attempt: 31 GB, 2nd: 45 GB, 3rd: 63 GB.
        memory        = { task.attempt == 1 ? 32.GB : task.attempt == 2 ? 48.GB : 63.GB }
        time          = '23h'    // used for documentation; h_rt fixed in label as before
    }

    withName: run_domain_quality {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 31.GB : task.attempt == 2 ? 45.GB : 63.GB }
    }

    // ---------- CATH-AF-CLI ------------
    withName: run_stride {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 1.GB : task.attempt == 2 ? 2.GB : 8.GB }
        time          = '12h'
        
    }

    withName: run_measure_globularity {
        errorStrategy = 'retry'
        maxRetries    = 3
        memory        = { task.attempt == 1 ? 2.GB : task.attempt == 2 ? 4.GB : 8.GB }
        time          = '12h'
    }

    withName: create_md5 {
        executor      = 'local'
        scratch       = false
    }
}
